// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fonts
$roboto: "Roboto", sans-serif;

// Break Points

$break-small: 375px;
$break-medium: 765px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (min-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium + 1) {
      @content;
    }
  } @else if $media == large-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

// Color Palette

$primary-color: #0573b3;
$accent-color: #fa9f26;
$dark-blue: #1b4d6d;
$off-white: #f7f7f7;

// ===== BASE STYLES =====
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $roboto;
  font-size: $m-size;
  line-height: 1.6;
  color: $dark-blue;
  border-top: 4px solid $primary-color;
}

ul {
  list-style: none;
  padding: 0;
}

.img-link {
  display: block;
  width: 100%;
  height: 100%;
}

// ===== NAV =====

nav {
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
  padding: 0 3%;
  max-width: 1024px;
  .headshot-container {
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    @include respond-to(handhelds) {
      width: 100px;
      height: 100px;
    }
    #headshot {
      height: 100%;
      width: 100%;
      background: url(../assets/headshot.jpg) 80% 5%;
      background-size: cover;
      background-size: 130%;
      @include respond-to(medium-screens) {
        background-size: 130%;
      }
    }
  }
  .nav-links {
    font-size: 1.5rem;
    display: flex;
    a {
      text-decoration: none;
      margin: 0 $s-size;
      color: $primary-color;
      &:visited {
        color: $primary-color;
      }
    }
    @include respond-to(medium-screens) {
      font-size: 1.9rem;
      a {
        margin: 0 $m-size;
      }
    }
  }
}

// ===== HEADER =====

header {
  font-family: $roboto;
  width: 100vw;
  opacity: 1;
  .hero {
    max-width: 1024px;
    width: 80%;
    margin: 20% auto;
    h1 {
      font-weight: 300;
      font-size: 33px;
      margin: 0;
    }
    ul {
      margin: 0;
    }
    .music-word {
      font-size: 25px;
      display: flex;
      .iAm {
        width: 78px;
      }
      .word {
        width: 50px;
      }
      .musician-word {
        display: none;
      }
      .developer-word {
        display: none;
      }
      .none {
        display: none;
      }
      @include respond-to(medium-screens) {
        font-size: 30px;
        .iAm {
          right: 70px;
          width: 95px;
        }
        .word {
          right: 40px;
        }
      }
    }
    p {
      display: block;
      width: 100%;
      margin-top: 2%;
      font-size: 1.6rem;
    }

    a {
      text-decoration: none;
      text-align: center;
      display: block;
      margin-top: 5%;
      width: 40%;
      padding: 10px;
      border-radius: 5px;
      background-color: $accent-color;
      color: #fff;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      max-width: 150px;
    }
  }
  @include respond-to(medium-screens) {
    .hero {
      margin: 10% auto;
      h1 {
        font-size: 4rem;
      }
      p {
        width: 50%;
        font-size: 2rem;
        margin-top: 1%;
      }
      a {
        width: 25%;
        font-size: 1.7rem;
        letter-spacing: 1px;
        padding: 1.4%;
        border-radius: 5px;
      }
    }
  }
}

// ===== MAIN =====

.main {
  background-color: #fafcff;
  margin-top: 5%;
  position: relative;
  overflow: hidden;
  p {
    margin: 4% 0;
    line-height: 180%;
  }
  a {
    color: $dark-blue;
    margin: 0 5px;
  }
  .section-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .container {
    display: block;
    max-width: 900px;
    margin: 0 auto;
  }
  @include respond-to(medium-screens) {
    .container {
      max-height: 600px;
      display: flex;
      justify-content: space-around;
    }
  }
}

// ===== PROJECTS =====

.section-header {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #fa9f26;
  font-size: 20px;
  font-weight: 400;
}

.projects {
  margin-top: 10%;
  @include respond-to(large-screens) {
    margin-top: 0;
  }
  .title {
    font-size: 160%;
    margin-left: 5%;
  }
  .github-link {
    display: block;
    margin: 4% 0;
  }
  #music-test,
  #data-breach,
  #inventory {
    flex-direction: row-reverse;
  }
  .img-container {
    width: 90%;
    max-width: 400px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    @include respond-to(medium-screens) {
      width: 40%;
      margin-top: 12px;
    }
    .img-link {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    #music-test-img {
      background: url(../assets/sheetmusic.jpg) center;
      background-size: cover;
    }
    #sanford-img {
      background: url(../assets//sanford-img.jpg) center;
      background-size: cover;
    }
    #inventory-img {
      background: url(../assets/inventory-photo.jpg) center;
      background-size: cover;
    }
    #breach-img {
      background: url(../assets/matrix-laptop.jpeg) 30%;
      background-size: cover;
    }
  }

  .project-info {
    width: 90%;
    margin: 30px auto;
    font-size: 15px;
    .description {
      a {
        cursor: pointer;
      }
      a svg {
        margin-right: 10px;
        height: 25px;
        width: 25px;
      }
    }
  }
  @include respond-to(handhelds) {
    .project-info {
      width: 88%;
    }
  }
  @include respond-to(medium-screens) {
    .project-info {
      width: 40%;
      font-size: 16px;
      margin: 0 auto;
    }
    .title {
      margin-left: 9.5%;
    }
  }
}
hr {
  width: 50%;
  margin: 15% auto;
  @include respond-to(medium-screens) {
    margin: 10% auto;
  }
}

.view-button-container {
  text-align: center;
  margin: 25px 0;
  .secondary-button {
    color: $accent-color !important;
    border: 2px solid $accent-color;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
  }
  @include respond-to(medium-screens) {
    .secondary-button {
      padding: 10px 15px;
      font-size: 16px;
    }
  }
}

// ===== ABOUT =====

.headshot2-container {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  #headshot2 {
    height: 100%;
    width: 100%;
    background: url(../assets/headshot2.jpg) 60% 5%;
    background-size: cover;
    background-size: 100%;
  }
}

.about {
  width: 90%;
  margin: 0 auto;
  @include respond-to(medium-screens) {
    margin: 0 20px;
    width: 60%;
  }
}

// ===== Gigs =====

.gig-table {
  margin: 1em auto 3em;
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  tr {
    margin: 5px 0;
    border-radius: 50px;
  }
  tr:nth-child(odd) {
    background: #ccdde938;
  }
  td {
    padding: 10px;
    text-align: center;
  }
  .name {
    font-weight: 700;
    font-size: 10px;
  }
  .date {
    text-align: left;
  }
  .type {
    font-size: 10px;
  }
  @include respond-to(medium-screens) {
    font-size: 16px;
    .name {
      font-size: 14px;
    }
    .type {
      font-size: 14px;
    }
  }
}

// ===== FOOTER =====

footer {
  color: $off-white;
  background-color: $dark-blue;
  font-size: 1.3rem;
  padding-bottom: 30px;
  .copyright-container {
    text-align: center;
    h3 {
      margin: 0;
      font-weight: 400;
    }
  }
  .contact-links {
    display: flex;
    max-width: 300px;
    margin: 10px auto;
    padding-top: 30px;
    justify-content: space-around;
    li {
      padding: 0% 6%;
    }
    a svg {
      height: 50px;
      width: 30px !important;
      color: $accent-color;
    }
  }
}

// =======================
// ==== PROJECT PAGE =====
// =======================

.project-main {
  margin-top: 0;
}

// =======================
// ====== GIGS PAGE ======
// =======================

.gigs-main {
  background: #fff;
  .error-message {
    text-align: center;
  }
  .gig-table {
    margin: 1em auto 3em;
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    tr {
      margin: 5px 0;
      border-radius: 50px;
    }
    tr:nth-child(odd) {
      background: #ccdde938;
    }
    td {
      padding: 10px;
      text-align: center;
    }
    .date {
      text-align: left;
    }
    .name {
      font-weight: 700;
      font-size: 10px;
      max-width: 150px;
    }
    .type {
      font-size: 10px;
    }
    @include respond-to(medium-screens) {
      font-size: 15px;
      .name {
        font-size: 14px;
      }
      .type {
        font-size: 14px;
      }
    }
  }
}
.month {
  width: 100%;
  margin: 0 auto;
  h4 {
    margin-bottom: 0;
  }
  @include respond-to(medium-screens) {
    width: 80%;
  }
}

.user-form {
  display: none;
}

.active {
  display: block;
}
